/* head {
    background-color: rgb(255, 247, 139);
}

body {
    background-color: rgb(255, 247, 139);
} */
/* 
.box-style{
    background-color: rgb(255, 128, 106);
    color: rgb(255, 255, 255);
    text-align: center;
}

.my-btn {
    color: white;
    background-color: red;
} */